# Ignore node modules and local artifacts
node_modules
dist
.turbo
.cache
coverage
playwright-report
.idea
.vscode
.DS_Store
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Sensitive and local files
.git
.github
.env*
server/arduino-cache

# Temporary files
temp
*.log
